header {
  background: #252b33;
  margin-bottom: 1.45rem;
}

body {
  background: #353747;
  color: #fffaf4;
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Courier New", Courier, monospace;
  font-weight: 600;
  color: #fd8cf4; 
}

a {
  color: #ff83d1;
}
